.chat-input {
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    left: 0;
    input {
        transition: all 0.5s;
        flex: 9;
        height: 80px;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
        padding: 20px;
        font-size: 32px;
        border: 3px solid green;
        &:focus {
            border: 3px solid red;
            outline: none;
        }
    }
    button {
        transition: scale 0.2s;
        flex: 1;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        background-color: green;
        color: white;
        border: none;
        cursor: pointer;
        &:active:not(:disabled) {
            scale: 0.9;
        }
        &:disabled {
            cursor: not-allowed;
        }
    }
}