<h1>CHAT</h1>
<div [formGroup]="form">
    <input formControlName="room" placeholder="Room..." />
    <button [disabled]="_disabled" (click)="connect()" [disabled]="!form.controls.room.value || form.controls.room.value.length === 0">join room</button>

    <div class="chat-input">
        <input formControlName="msj" placeholder="Message..." />
        <button [disabled]="_disabled" (click)="onClick()" [disabled]="!form.controls.msj.value || form.controls.msj.value.length === 0">send msj</button>
    </div>
</div>
<h2>MESSAGE LIST:</h2>
<p *ngFor="let m of messages">{{m}}</p>