.sk-carousel {
    &__container {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        //background-color: blue;
    }
    display: flex;
    width: 100%;
    transition: .5s ease-in;
    flex-wrap: nowrap;
    flex-direction: row;
    &--moving {
        transition: none;
        cursor: grabbing;
    }
}