<div class="sk-carousel__container">
    <div (scroll)="onScroll()" class="sk-carousel" [style.transform]="_transform" [ngClass]="{'sk-carousel--moving' : _moving}">
        <ng-content></ng-content>
    </div>
</div>