.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
    width: 100%;
    height: 100px;
    border-radius: .125rem;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba(255, 14, 87, .5);
    }
    100% {
        background-color: rgba(0, 1, 36, 1);
    }
}