.sk-button-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    &--disabled {
        cursor: not-allowed;
        opacity: .5;
    }
}

:host-context(.sk-header) {
    .sk-button-icon {
        color: white;
    }
}

:host-context(.mobile-control) {
    .sk-button-icon {
        height: 25px;
        width: 25px;
    }
}