<div skRipple [centerRipple]="true" [disableRipple]="_disabled" (click)="onClick()" class="sk-button-icon" [ngStyle]="{'background-color': _backgroundColor}" [ngClass]="{'sk-button-icon--disabled' : _disabled}">
    <ng-content></ng-content>
</div>