<h1>{{title}}</h1>
<input [(ngModel)]="title" />

<p class="twain"><i>{{quote | async}}</i></p>
<button type="button" (click)="getQuote()">Next quote</button>
<p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>