<sk-block-layout top>
    <div class="container">
        <ng-container *ngIf="!(playing$ | async)">
            <br/>
            <br/>
            <br/>
            <img src="assets/snake.png" class="snake-img" />
            <button class="start-button" (click)="startGame()" mat-raised-button color="primary">Start
                game!</button>
            <mat-form-field appearance="fill">
                <mat-label>Choose level</mat-label>
                <mat-select>
                    <mat-option *ngFor="let level of gameLevels" [value]="gameLevels[0]" (click)="changeLevel(level)">
                        {{level}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="(playing$ | async)">
            <sk-title align="center">SCORE: {{_score}}</sk-title>
            <br />
            <div class="sk-snake-game__grid">
                <div *ngFor="let cell of cells$ | async" class="sk-snake-game__cell {{cell.snakeDirection}} {{cell.snakeLast}} {{cell.snakeFirst}}" [ngClass]="{ 'sk-snake-game__cell--food': cell.isFood, 'sk-snake-game__cell--snake': cell.isSnake }">
                    <ng-container *ngIf="cell.snakeFirst === 'sk-snake-game__cell--snake-first'">
                        <div class="sk-snake-game__cell--snake-mouth"></div>
                        <div class="sk-snake-game__cell--snake-eye"></div>
                        <div class="sk-snake-game__cell--snake-eye"></div>
                    </ng-container>
                </div>
            </div>
            <!-- <br />
            <div class="game-controls">
                <button (click)="pauseResume()" mat-button>{{pause ? 'RESUME' : 'PAUSE'}}</button>
                <div class="mobile-control">
                    <sk-button-icon class="up" (click)="mobileControl({key: 'ArrowUp'})">
                        <i class='fas fa-arrow-up'></i>
                    </sk-button-icon>
                    <sk-button-icon class="left" (click)="mobileControl({key: 'ArrowLeft'})">
                        <i class='fas fa-arrow-left'></i>
                    </sk-button-icon>
                    <sk-button-icon class="right" (click)="mobileControl({key: 'ArrowRight'})">
                        <i class='fas fa-arrow-right'></i>
                    </sk-button-icon>
                    <sk-button-icon class="down" (click)="mobileControl({key: 'ArrowDown'})">
                        <i class='fas fa-arrow-down'></i>
                    </sk-button-icon>
                </div>
            </div> -->
        </ng-container>
    </div>
</sk-block-layout>




<sk-modal #modal>
    <mat-card class="login-card">
        <sk-block-layout top bottom gap="large">
            <mat-card-title>
                Score: {{score$ | async}}
            </mat-card-title>
            <!-- <mat-card-subtitle>Your max score: {{_maxUserScore}}
            </mat-card-subtitle> -->
        </sk-block-layout>
        <mat-card-content>
            <mat-table #table [dataSource]="_ranking">

                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{_ranking.indexOf(element)+1}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.score}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['position', 'email', 'score']"></mat-header-row>
                <mat-row *matRowDef="let row; columns: ['position', 'email', 'score'];"></mat-row>
            </mat-table>
        </mat-card-content>
    </mat-card>
</sk-modal>