:host {
    width: 100%;
}

.sk-stepper {
    position: relative;
    height: 2px;
    border-radius: 10px;
    background-color: grey;
    margin: 16px;
    box-sizing: border-box;
    &__fill {
        position: absolute;
        height: 2px;
        border-radius: 10px;
        background-color: #7CFC00;
        transition: .5s;
    }
}