:host {
    --sk-snake-grid-column-length: 25;
    --sk-snake-grid-row-length: 25;
}

.sk-snake-game {
    &__grid {
        z-index: 1;
        border-radius: 30px;
        width: min-content;
        display: grid;
        grid-template-columns: repeat(var(--sk-snake-grid-column-length), 0fr);
        grid-template-rows: repeat(var(--sk-snake-grid-row-length), auto);
        //border: 1px solid green; //TODO
        background: linear-gradient(29deg, rgba(255, 203, 31, 1) 0%, rgba(218, 27, 185, 1) 7%, rgba(96, 5, 5, 1) 42%, rgba(31, 0, 0, 1) 72%);
    }
    &__cell {
        width: 20px;
        height: 20px;
        &--food {
            background-color: white;
            border-radius: 50%;
            //animation: fromLeftToRight 2s linear infinite;
        }
        &--snake {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;
            flex-direction: column;
            transform: translateX(0%);
            background-color: #1bda37;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            &.sk-snake-game__cell--snake--right {
                transform: rotate(0deg);
            }
            &.sk-snake-game__cell--snake--left {
                transform: rotate(180deg);
            }
            &.sk-snake-game__cell--snake--up {
                transform: rotate(270deg);
            }
            &.sk-snake-game__cell--snake--down {
                transform: rotate(90deg);
            }
            &-eye {
                border-radius: 50%;
                width: 5px;
                height: 5px;
                background-color: white;
            }
            &-mouth {
                position: absolute;
                width: 10px;
                height: 3px;
                background-color: palevioletred;
                transform: translateX(10px);
            }
            &-first {
                &.sk-snake-game__cell--snake--right {
                    // transform: rotate(0deg);
                }
                &.sk-snake-game__cell--snake--left {
                    //   transform: rotate(180deg);
                }
                &.sk-snake-game__cell--snake--up {
                    //  transform: rotate(270deg);
                }
                &.sk-snake-game__cell--snake--down {
                    //   transform: rotate(90deg);
                }
            }
            &-other {
                background-color: violet;
                &.sk-snake-game__cell--snake-last {
                    border-color: transparent transparent violet transparent;
                }
            }
            &-last {
                width: 0;
                height: 0;
                border-width: 0 10.5px 20px 10.5px;
                transform: rotate(270deg);
                border-color: transparent transparent #1bda38 transparent;
                border-style: solid;
                background-color: transparent;
                &.sk-snake-game__cell--snake--right {
                    //  animation: fromLeftToRight 2s linear infinite;
                    transform: rotate(270deg);
                }
                &.sk-snake-game__cell--snake--left {
                    // animation: fromRightToLeft 2s linear infinite;
                    transform: rotate(90deg);
                }
                &.sk-snake-game__cell--snake--up {
                    // animation: fromDownToUp 2s linear infinite;
                    transform: rotate(180deg);
                }
                &.sk-snake-game__cell--snake--down {
                    //  animation: fromUpToDown 2s linear infinite;
                    transform: rotate(0deg);
                }
            }
        }
    }
}

@keyframes fromLeftToRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fromRightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fromDownToUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes fromUpToDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

.snake-img {
    width: 300px;
    height: 200px;
    transform: translateX(-18px);
    &--playing {
        //position: absolute;
        // transform: translateY(-50px);
    }
}

.start-button {
    display: block;
    transform: translateY(-20px);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-table {
    max-height: 300px;
    overflow-y: scroll;
}

mat-card {
    width: 100%;
}

mat-row {
    gap: 10px
}

mat-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    min-height: unset;
}

.mobile-control {
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". up ." "left . right" ". down .";
}

.up {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: up;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: left;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: right;
}

.down {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: down;
}

.game-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}