<!-- <button *ngIf="!_playing" (click)="startGame()">START</button> -->

<div [formGroup]="form">
    <input formControlName="room" placeholder="Room..." />
    <button (click)="connect()">join room</button>
</div>

<ng-container *ngIf="playing$ | async">
    <sk-title align="center">SCORE: {{score$ | async}}</sk-title>
    <br />
    <div class="sk-snake-game__grid">
        <div *ngFor="let cell of cells$ | async"
            class="sk-snake-game__cell {{cell.snakeDirection}} {{cell.snakeLast}} {{cell.snakeFirst}}"
            [ngClass]="{ 'sk-snake-game__cell--food': cell.isFood, 'sk-snake-game__cell--snake': (cell.isSnake || cell.isOtherSnake), 'sk-snake-game__cell--snake-other': cell.isOtherSnake }">
            <ng-container *ngIf="cell.snakeFirst === 'sk-snake-game__cell--snake-first'">
                <div class="sk-snake-game__cell--snake-mouth"></div>
                <div class="sk-snake-game__cell--snake-eye"></div>
                <div class="sk-snake-game__cell--snake-eye"></div>
            </ng-container>
        </div>
    </div>
    <!-- <br />
    <div class="game-controls">
        <button (click)="pauseResume()" mat-button>{{pause ? 'RESUME' : 'PAUSE'}}</button>
        <div class="mobile-control">
            <sk-button-icon class="up" (click)="mobileControl({key: 'ArrowUp'})">
                <i class='fas fa-arrow-up'></i>
            </sk-button-icon>
            <sk-button-icon class="left" (click)="mobileControl({key: 'ArrowLeft'})">
                <i class='fas fa-arrow-left'></i>
            </sk-button-icon>
            <sk-button-icon class="right" (click)="mobileControl({key: 'ArrowRight'})">
                <i class='fas fa-arrow-right'></i>
            </sk-button-icon>
            <sk-button-icon class="down" (click)="mobileControl({key: 'ArrowDown'})">
                <i class='fas fa-arrow-down'></i>
            </sk-button-icon>
        </div>
    </div> -->
</ng-container>

<script id="worker-code" type="dont/run">
    setInterval(function() { postMessage(''); }, 200);
</script>