.sk-header {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 70px;
        z-index: 2;
        position: fixed;
        background: black; //linear-gradient(180deg, black, transparent);
        top: 0;
    }
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 70px 1fr 70px 120px;
    &>* {
        display: flex;
        justify-content: center;
    }
}

:host-context(.sk-slideup) {
    .sk-header__container {
        //width: calc(100% - 32px);
        left: 0;
        top: 40px;
        background: transparent;
        //border-radius: 10px;
        //background: linear-gradient(180deg, rgba(0, 1, 36, 0.5) 10%, rgba(255, 14, 87, 0.2) 100%);
    }
}