<div class="sk-header__container" #header>
    <div class="sk-header">
        <div class="sk-header--left">
            <ng-container *ngTemplateOutlet="left"></ng-container>
        </div>
        <div class="sk-header--center">
            <ng-container *ngTemplateOutlet="center"></ng-container>
        </div>
        <div class="sk-header--right-two">
            <ng-container *ngTemplateOutlet="beforeRight"></ng-container>
        </div>
        <div class="sk-header--right">
            <ng-container *ngTemplateOutlet="right"></ng-container>
        </div>
    </div>
    <ng-content select="sk-stepper"> </ng-content>
    <div>
        <ng-container *ngTemplateOutlet="stepperTitle"></ng-container>
    </div>
</div>

<ng-template #left>
    <ng-content select="[position='left']"> </ng-content>
</ng-template>

<ng-template #center>
    <ng-content select="[position='center']"> </ng-content>
</ng-template>

<ng-template #beforeRight>
    <ng-content select="[position='beforeRight']"> </ng-content>
</ng-template>

<ng-template #right>
    <ng-content select="[position='right']"> </ng-content>
</ng-template>

<ng-template #stepperTitle>
    <ng-content select="[position='stepperTitle']"> </ng-content>
</ng-template>