<div class="sk-notification__container" [ngClass]="{ 'sk-notification__container--open' : _open}">
    <div class=" sk-notification {{_type}}">
        <sk-title size="small">{{_title}}</sk-title>
    </div>
</div>