.sk-notification {
    &__container {
        z-index: 3;
        position: fixed;
        width: 100vw;
        bottom: -50px;
        display: flex;
        justify-content: center;
        transition: .5s;
        &--open {
            bottom: 50px;
        }
    }
    border-radius: 8px;
    width: clamp(300px, 90%, 500px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--success {
        border: 2px solid#90EE90;
        background-color: #32CD32;
    }
    &--error {
        border: 2px solid#F08080;
        background-color: #800000;
    }
    &--alert {
        border: 2px solid#FFA07A;
        background-color: #FF4500;
    }
    &--info {
        border: 2px solid#B0C4DE;
        background-color: #000080;
    }
}