<div class="sk-slideup" [ngClass]="{'sk-slideup--open' : _open, 'sk-slideup--moving' : _moving}">
    <div class="sk-slideup__slider" (mousedown)="onSliderMousedown($event)" (touchstart)="onSliderTouchstart($event)"></div>
    <div class="sk-slideup__content {{_scrollClass}}">
        <ng-content></ng-content>
    </div>
</div>
<div (click)="changeOpenState()" *ngIf="_showOverlay" class="sk-slideup__overlay"></div>