:host {
    --ft-slideup-translate-y-on-moving: '0px';
}

.sk-slideup {
    padding: 0 16px;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    left: 0;
    background-color: #890527;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transform: translateY(100%);
    transition: transform .3s ease-out;
    &--open {
        transform: translateY(0%);
    }
    &__slider {
        background-color: aliceblue;
        height: 8px;
        margin: 16px 10%;
        box-sizing: border-box;
        border-radius: 50px;
    }
    &__content {
        position: relative;
        height: calc(100% - 40px);
        &--scrolleable {
            overflow-y: scroll;
        }
    }
    &--moving {
        transition: none;
        transform: translateY(var(--ft-slideup-translate-y-on-moving))
    }
    &__overlay {
        z-index: 2;
        height: 100vh;
        width: 100vw;
        background-color: black;
        opacity: .8;
        position: fixed;
        top: 0;
    }
}

.body--slideup-open {
    height: 100vh;
    overflow-y: hidden;
}