.sk-spinner {
    display: flex;
    position: relative;
    width: 100%;
    height: 30px;
    justify-content: center;
}

.sk-spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: sk-spinner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.sk-spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.sk-spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.sk-spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes sk-spinner-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}