<div class="sk-modal" [ngClass]="{'sk-modal--open' : _open}">
    <ng-container *ngIf="_open">
        <ng-content></ng-content>
    </ng-container>
</div>
<div class="sk-modal__overlay" [ngClass]="{'sk-modal__overlay--open' : _open}" (click)="closeModal()"></div>