.sk-modal {
    &--open {
        transform: translate(-50%, -50%);
    }
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100vh);
    box-sizing: border-box;
    width: clamp(300px, 500px, calc(100vw - 32px));
    border-radius: 30px;
    transition: .2s;
    &__overlay {
        &--open {
            top: 0;
        }
        top: -100vh;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        background-color: black;
        opacity: .8;
        transition: .2s;
    }
}

.body--modal-open {
    height: 100vh;
    overflow-y: hidden;
    //padding-right: 15px;
}