.sk-text-field {
    &__container {
        position: relative;
        overflow: hidden;
        height: 60px;
        box-sizing: border-box;
        font-size: 1.5rem;
        display: flex;
        transition: .3s;
        border-bottom: 3px solid #99B898;
        align-items: center;
        &:hover {
            //  background-color: rgba(153, 184, 152, 0.2);
        }
        &--focused {
            border-image: linear-gradient(to right, #FF0062, #00FFFF);
            border-image-slice: 1;
        }
        &--disabled {
            cursor: not-allowed;
            //z-index: 1;
            opacity: .5;
            &:hover {
                background-color: transparent;
            }
            & .sk-text-field {
                &__placeholder-required {
                    cursor: not-allowed;
                }
            }
        }
    }
    //margin-top: 10px;
    background-color: transparent;
    border: none;
    height: 50px;
    font-size: 20px;
    color: black;
    padding-top: 10px;
    box-sizing: border-box;
    &::placeholder {
        color: transparent;
    }
    &:focus {
        +.sk-text-field__placeholder {
            color: aqua;
            bottom: 40px;
            font-size: 16px;
            opacity: 1;
        }
    }
    &:focus-visible {
        outline: none;
    }
    /* &:-webkit-autofill {
        z-index: auto !important;
        box-shadow: 0 0 0 30px #00FFFF inset !important;
        -webkit-text-fill-color: black !important;
    }*/
    &__placeholder {
        font-size: 24px;
        transition: .5s;
        position: absolute;
        bottom: 10px;
        // z-index: -1;
        opacity: .3;
        &-required {
            cursor: pointer;
            // z-index: 1;
        }
    }
    &__placeholder--content {
        transition: .5s;
        position: absolute;
        color: #99B898;
        bottom: 40px;
        font-size: 16px;
        opacity: 1;
    }
    &-icon__container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 4px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, border-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black;
    -webkit-text-fill-size: 24px;
}

:host-context(.sk-list-item) {
    input {
        width: 100%;
    }
    .sk-text-field__placeholder {
        font-size: 16px;
    }
    .sk-text-field:focus+.sk-text-field__placeholder {
        font-size: 10px;
    }
}