<div skRipple [disableRipple]="_disabled" class="sk-text-field__container" [ngClass]="{'sk-text-field__container--focused' : _focused, 'sk-text-field__container--disabled' : _disabled}">
    <input [type]="_type" [ngModel]="_value" (ngModelChange)="onSetValue($event)" [disabled]="_disabled" #input [placeholder]="" autocomplete="nope" class="sk-text-field" (blur)="onBlur()" (focus)="onFocus()">
    <div class="sk-text-field__placeholder" [ngClass]="_content ? 'sk-text-field__placeholder--content' : ''">
        {{_placeholder}}
        <span class="sk-text-field__placeholder-required">{{_required ? ' *' : ''}}</span>
    </div>
    <div class="sk-text-field-icon__container">
        <i *ngIf="_passField" class='sk-text-field__icon fas fa-eye{{_closeClass}}' (click)="onClickEye($event)"></i>
    </div>
</div>