h1,
h2,
h3,
h4,
h4,
h5,
h6 {
    margin: 0;
}

.sk-title {
    color: white;
    &--xxlarge {
        font-size: 40px;
    }
    &--xlarge {
        font-size: 32px;
    }
    &--large {
        font-size: 24px;
    }
    &--medium {
        font-size: 20px;
    }
    &--small {
        font-size: 18px;
    }
    &--xsmall {
        font-size: 16px;
    }
    &--xxsmall {
        font-size: 14px;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
    &--center {
        text-align: center;
    }
    &--weight--bold {
        font-weight: bold;
    }
    &--weight--medium {
        font-weight: 500;
    }
}

:host-context(.sk-tab) {
    .sk-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
}

:host-context(.sk-header) {
    .sk-title {
        color: white;
    }
}

:host-context(.sk-modal) {
    .sk-title {
        color: white;
    }
}