<div [ngSwitch]="_size" class="{{ _align }}">
    <h1 *ngSwitchCase="'sk-title--xxlarge'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h1>
    <h2 *ngSwitchCase="'sk-title--xlarge'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h2>
    <h3 *ngSwitchCase="'sk-title--large'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h3>
    <h4 *ngSwitchCase="'sk-title--medium'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h4>
    <h4 *ngSwitchCase="'sk-title--small'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h4>
    <h5 *ngSwitchCase="'sk-title--xsmall'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h5>
    <h6 *ngSwitchCase="'sk-title--xxsmall'" class="sk-title {{ _size }} {{ _weight }}">
        <ng-container *ngTemplateOutlet="content"></ng-container>
    </h6>
</div>

<ng-template #content>
    <ng-content></ng-content>
</ng-template>