.sk-button-icon-container {
    display: flex;
    justify-content: space-evenly;
    &--bottom {
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        transform: translateY(-50%);
    }
}