.form-field-full {
    width: 100%;
}

.login-card {
    max-width: 400px;
    border-radius: 30px;
    padding: 16px 32px;
}

.login {
    max-width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

.snake-img {
    z-index: 1;
    transform: translateY(25%) translateX(25%);
    width: 300px;
    height: 200px;
}