<div [formGroup]="form" class="login">

    <!-- <app-select></app-select>
    <input (input)="onInputUpdate($event)" />
    {{price()}}
    <br />
    {{priceWithDiscount()}} -->

    <app-text-input formControlName="text1"></app-text-input>
    <app-banner></app-banner>

    <img src="assets/snake.png" class="snake-img" />
    <mat-card class="login-card">
        <!-- <sk-block-layout top bottom gap="large"> -->
        <mat-card-title>
            LOGIN
        </mat-card-title>
        <mat-card-subtitle>Login and start to play!
        </mat-card-subtitle>
        <!-- </sk-block-layout> -->
        <mat-card-content>
            <!-- <sk-block-layout top gap="small"> -->
            <br />
            <mat-form-field class="form-field-full" appearance="fill">
                <mat-label>Email</mat-label>
                <input autocomplete="none" type="email" matInput formControlName="email"
                    placeholder="Ex. pat@example.com">
                <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="form.controls.email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="form-field-full" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls.password.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <!-- </sk-block-layout> -->
        </mat-card-content>
        <mat-card-actions>
            <button (click)="goToRegister()" mat-button>REGISTER</button>
            <button (click)="onLoginClick()" mat-raised-button color="primary">LOGIN</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>