<div [formGroup]="form" class="register">
    <img src="assets/snake.png" class="snake-img" />
    <mat-card class="register-card">
        <sk-block-layout top bottom gap="large">
            <mat-card-title>
                REGISTER
            </mat-card-title>
            <mat-card-subtitle>Register and start to play!
            </mat-card-subtitle>
        </sk-block-layout>
        <mat-card-content>
            <sk-block-layout top gap="small">
                <br />
                <mat-form-field class="form-field-full" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input autocomplete="none" type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="form.controls.email.hasError('email') && !form.controls.email.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input autocomplete="none" type="text" matInput formControlName="firstName" placeholder="First Name">
                    <mat-error *ngIf="form.controls.firstName.hasError('required')">
                        First Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.firstName.hasError('minlength')">
                        First Name has min. <strong>4</strong> characters
                    </mat-error>
                    <mat-error *ngIf="form.controls.firstName.hasError('maxlength')">
                        First Name has max. <strong>25</strong> characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input autocomplete="none" type="text" matInput formControlName="lastName" placeholder="Last Name">
                    <mat-error *ngIf="form.controls.lastName.hasError('required')">
                        Last Name is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="form.controls.lastName.hasError('minlength')">
                        Last Name has min. <strong>4</strong> characters
                    </mat-error>
                    <mat-error *ngIf="form.controls.lastName.hasError('maxlength')">
                        Last Name has max. <strong>25</strong> characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field-full" appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="form.controls.password.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

            </sk-block-layout>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="goToLogin()" mat-button>LOGIN</button>
            <button (click)="onRegisterClick()" mat-raised-button color="primary">REGISTER</button>
        </mat-card-actions>
        <mat-card-footer>
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>