:host {
    display: flex;
    justify-content: center;
}

.sk-card-container {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 48px 32px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: relative;
    backdrop-filter: blur(10px);
    width: clamp(300px, 100%, 500px);
}

:host-context(app-wallet) {
    .sk-card-container {
        background: linear-gradient(29deg, rgba(255, 203, 31, 1) 0%, rgba(218, 115, 27, 1) 7%, rgba(96, 5, 5, 1) 42%, rgba(31, 0, 0, 1) 72%); // linear-gradient(200deg, rgba(0, 1, 36, 1) 10%, rgba(255, 14, 87, 1) 100%);
        border: none;
        //border: 4px solid #E84A5F;
        position: sticky;
        top: 70px;
        z-index: 1;
        backdrop-filter: none;
    }
}