.sk-button {
    background-color: darkgoldenrod; //#E84A5F;
    padding: 12px 16px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    text-align: center;
    &.sk-button--disabled {
        opacity: .5;
        cursor: not-allowed;
    }
    &:focus-visible {
        outline: none;
    }
    &--secondary {
        background-color: #99B898;
    }
    &--rounded {
        border-radius: 30px;
    }
    &--bottom {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        box-sizing: border-box;
    }
}