<div tabindex="0" class="sk-button {{_type}}" skRipple [disableRipple]="_disabled" [ngClass]="{'sk-button--rounded' : _rounded, 'sk-button--bottom' : _bottom, 'sk-button--disabled' : _disabled}">
    <ng-content></ng-content>
</div>