:host {
    flex-grow: 1;
}

.sk-tab {
    position: relative;
    overflow: hidden;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 2px solid #E84A5F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px;
    &--active {
        background: #890527; //#440918; //#E84A5F50;
    }
}