<ng-content></ng-content>
<div class="sk-list-item" skRipple>
    <div class="sk-list-item--start">
        <ng-container *ngTemplateOutlet="start"></ng-container>
    </div>
    <div class="sk-list-item--left">
        <ng-container *ngTemplateOutlet="left"></ng-container>
    </div>
    <div class="sk-list-item--center">
        <ng-container *ngTemplateOutlet="center"></ng-container>
    </div>
    <div class="sk-list-item--right">
        <ng-container *ngTemplateOutlet="right"></ng-container>
    </div>
    <div class="sk-list-item--end">
        <ng-container *ngTemplateOutlet="end"></ng-container>
    </div>
</div>

<ng-template #start>
    <ng-content select="[position='start']"> </ng-content>
</ng-template>

<ng-template #left>
    <ng-content select="[position='left']"> </ng-content>
</ng-template>

<ng-template #center>
    <ng-content select="[position='center']"> </ng-content>
</ng-template>

<ng-template #right>
    <ng-content select="[position='right']"> </ng-content>
</ng-template>

<ng-template #end>
    <ng-content select="[position='end']"> </ng-content>
</ng-template>