.sk-list-item {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-columns: 40px 1fr 40px 1fr 40px;
    width: 100%;
    margin-bottom: 16px;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    background: linear-gradient(134deg, #B8860B 80%, #C0C0C0 100%); //linear-gradient(200deg, rgba(0, 1, 36, 0.3) 10%, rgba(255, 14, 87, 0.3) 100%);
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 16px;
    &--start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &--left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &--center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &--right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &--end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        //margin-right: 16px;
    }
    &>* {
        flex-grow: 1;
    }
}