sk-block-layout {
    width: 100%;
}

.sk-block-layout>* {
    display: block;
}

.sk-block-layout {
    &--gap-xxlarge {
        &>*:not(:last-child) {
            margin-bottom: 32px;
        }
        &.sk-block-layout--top {
            margin-top: 32px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 32px;
        }
    }
    &--gap-xlarge {
        &>*:not(:last-child) {
            margin-bottom: 24px;
        }
        &.sk-block-layout--top {
            margin-top: 24px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 24px;
        }
    }
    &--gap-large {
        &>*:not(:last-child) {
            margin-bottom: 20px;
        }
        &.sk-block-layout--top {
            margin-top: 20px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 20px;
        }
    }
    &--gap-medium {
        &>*:not(:last-child) {
            margin-bottom: 16px;
        }
        &.sk-block-layout--top {
            margin-top: 16px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 16px;
        }
    }
    &--gap-small {
        &>*:not(:last-child) {
            margin-bottom: 8px;
        }
        &.sk-block-layout--top {
            margin-top: 8px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 8px;
        }
    }
    &--gap-xsmall {
        &>*:not(:last-child) {
            margin-bottom: 4px;
        }
        &.sk-block-layout--top {
            margin-top: 4px;
        }
        &.sk-block-layout--bottom {
            margin-bottom: 4px;
        }
    }
    &--gap-none {
        // &>*:not(:last-child)>* {
        //     margin-bottom: 0px;
        // }
        // &.sk-block-layout--top {
        //     margin-top: 0px;
        // }
        // &.sk-block-layout--bottom {
        //     margin-bottom: 0px;
        // }
    }
}