.sk-lateral-menu {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: 3;
    transform: translateX(-300px);
    transition: transform 1s ease;
    &__header {
        padding: 16px;
        //border-bottom: 1px solid #E84A5F;
        font-size: 32px;
        width: 100%;
        display: flex;
        //justify-content: flex-end;
        align-items: center;
        //margin-bottom: 100px;
        &-line {
            height: 1px;
            width: 100%;
            background-color: #E84A5F;
        }
        &-close {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }
    }
    &--open {
        transform: translateX(0px);
    }
    &__overlay {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: .8;
        z-index: 2;
        animation: openOverlay 1s linear;
        // filter: blur(6px);
    }
}

@keyframes openOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: .8;
    }
}

.body--lateral-menu-open {
    height: 100vh;
    overflow-y: hidden;
    //padding-right: 15px;
}