<div class="sk-lateral-menu" [ngClass]="_open ? 'sk-lateral-menu--open' : ''">
    <div class="sk-lateral-menu__header">
        <sk-title size="large">Menú</sk-title>
        <sk-button-icon class="sk-lateral-menu__header-close" (click)="closeMenu()">
            <i class='fa fa-close'></i>
        </sk-button-icon>
    </div>
    <div class="sk-lateral-menu__header-line"></div>
    <!-- <div class="sk-lateral-menu__header-line"></div> -->
    <ng-content></ng-content>
</div>
<div *ngIf="_open" class="sk-lateral-menu__overlay" (click)="onClickOverlay()"></div>