body {
    color: white;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #303030;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}