<div class="widget">
    <div *ngFor="let option of configOptions | keyvalue">
        <div>
            <h1>{{option.key}}</h1>
            <p>{{configOptions[option.key]}}</p>
        </div>
    </div>
</div>