.widget {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 300px;
    z-index: 1000;
    color: black !important;
}