<sk-app-container>
    <sk-header>
        <div position="left">
            <sk-button-icon (click)="manageMenu()">
                <i class='fas fa-grip-lines'></i>
            </sk-button-icon>
        </div>
        <sk-title position="right">{{username}}</sk-title>
    </sk-header>
    <sk-layout-container>
        <router-outlet></router-outlet>
    </sk-layout-container>
</sk-app-container>
<sk-lateral-menu #lateralMenu [open]="openLateralMenu">
    <sk-block-layout [top]="true">
        <sk-lateral-menu-item (click)="logout()">
            <sk-title weight="medium">Cerrar sesión</sk-title>
            <i class='fas fa-sign-out-alt'></i>
        </sk-lateral-menu-item>
    </sk-block-layout>
</sk-lateral-menu>