.sk-lateral-menu-item {
    position: relative;
    overflow: hidden;
    height: 50px;
    width: 100%;
    //border-bottom: 1px solid #E84A5F;
    //background: #E84A5F30;
    display: flex;
    align-items: center;
    padding: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &__title {
        width: 100%;
    }
    &__icon {
        // width: 100%;
        display: flex;
        //justify-content: flex-end;
        font-size: 24px;
        margin-right: 16px;
    }
}