<div class="sk-lateral-menu-item" skRipple>
    <div class="sk-lateral-menu-item__icon">
        <ng-content select="i"></ng-content>
    </div>
    <div class="sk-lateral-menu-item__title">
        <ng-content select="sk-title"></ng-content>
    </div>
</div>