<div class="sk-loading-fullscreen" [ngClass]="{'sk-loading-fullscreen--open' : _open}">
    <div class="sk-loading-fullscreen__content">
        <sk-title align="center">{{_title}}</sk-title>
        <div class="sk-loading-fullscreen__content-loader-container">
            <div class="sk-loading-fullscreen__loading-bar"></div>
        </div>
    </div>
</div>