.sk-loading-fullscreen {
    background-color: rgba(31, 0, 0, 0.8);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 100vh;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    &--open {
        top: 0;
    }
    &__content {
        width: 100%;
        &-loader-container {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    &__loading-bar {
        width: clamp(300px, 100%, 500px);
        height: 10px;
        background: #cfcfcf;
        margin-top: 22px;
        position: relative;
        overflow: hidden;
        &::before {
            content: '';
            width: 50%;
            height: 10px;
            background: #7CFC00;
            position: absolute;
            left: -25%;
            animation: bluebar 1.5s infinite ease;
        }
    }
}

@keyframes bluebar {
    50% {
        left: 75%;
    }
}

.body--loading-fullscreen-open {
    height: 100vh;
    overflow-y: hidden;
}