p {
    margin: 0;
}

.sk-paragraph {
    color: black;
    &--xxlarge {
        font-size: 22px;
    }
    &--xlarge {
        font-size: 20px;
    }
    &--large {
        font-size: 18px;
    }
    &--medium {
        font-size: 16px;
    }
    &--small {
        font-size: 14px;
    }
    &--xsmall {
        font-size: 12px;
    }
    &--xxsmall {
        font-size: 10px;
    }
    &--left {
        text-align: left;
    }
    &--right {
        text-align: right;
    }
    &--center {
        text-align: center;
    }
    &--weight--bold {
        font-weight: bold;
    }
    &--weight--medium {
        font-weight: 500;
    }
}